.NonbackControl
{
    background:transparent
}

.BorderCss_NonBoder
{
    border:[0px][none]    
}

.FontCss_MainLabel
{
    font-family:@微软雅黑, Arial, @黑体;
    font-size:20px;
    color:White;
    font-style:normal;
    font-weight:bold;
    
}

.FontCss_ImgPage
{
    font-family:@微软雅黑, Arial, @黑体;
    font-size:12px;
    color:Black;
    font-style:normal;
    font-weight:bold;
    
}

.FontCss_ImgInfo
{
    font-family:@微软雅黑, Arial, @黑体;
    font-size:14px;
    color:Blue;
    font-style:normal;
    font-weight:bold;
}

.FontCss_AlertLabel
{
    font-family:@微软雅黑, Arial, @黑体;
    font-size:16px;    
    font-style:normal;   
}

.FontCss_MainLabelDes
{
    font-family:Arial;
    font-size:12px;
    color:White;
    font-style:normal;
    font-weight:bold;     
}

.FontCss_ChildMenuFont
{
    font-family:@微软雅黑,Arial, @黑体;
    font-size:12px;
    color:Blue;
       
}

a:link,a:visited{
 text-decoration:none;
 color:Blue;
}

.FontCss_MainLinkLabel
{
    font-family:@微软雅黑, Arial, @黑体;
    font-size:12px;
    color:Blue;
    font-style:normal;
    font-weight:bold;    
}